body
 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
.top-section {
    text-align: center;
    padding-top: 200px;
    width: 100%;
    height: 750px;
    left: 0px;
    top: 0px;
    background-image: url(donation12.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 79px;
    text-align: center;
    color: white;
    /* margin-top: 200px; */
}
.main-paragraph {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 20px;
    color: white;
}
.main-button {
    padding: 16px 12px;
    width: 160px;
    height: 56px;
    background: #FF5959;
    border-radius: 5px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    margin-top: 30px;
    color: white;
    border: none;
    cursor: pointer;
}
.top-section-2{
    text-align: center;
    padding-top: 200px;
    width: 100%;
    height: 200px;
    left: 0px;
    top: 0px;
}
.main-title-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 79px;
    text-align: center;
    color: black;
    /* margin-top: 200px; */
}
.tk-rate{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-area: auto;
    box-shadow: 10px 10px;

}
.tk-container{
    width:20%;
    
}